.App {
  text-align: center;
  flex: center;
  background-image: url("../src/assets/imgs/concrete-slab-wall.jpg");
  width: 100%;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: transparent;
  height: 150px;
  padding: 20px;
  color: white;
}

.navbar {
  display: flex;
  /* align-items: left; */
  justify-content: space-between;
  padding: 1%;
  position: absolute;
  z-index: 9999;
  width: 100%;
  color: blanchedalmond;
  top: 0;
}

.nav-top{
    width: 100%;
    height: 5%;
    background-color: silver;
    color: green;
}

.nav-flow{
  width: 100%;
  height: 5%;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 1px 1px 1px #222;
  animation: moveDown 0.5s ease-in-out;
}
@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}

.nav-Title {
  font-size: calc(10px + 2vmin);
  height: 100%;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-body {
  /* background-color: silver; */
  background-image: url('/assets/imgs/concrete-slab-wall.jpg');  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.abtMe {
  height: 500px;
  width: 100%;
  background-color: green;
  margin-top: 7%;
  margin-bottom: 15px;
}

.abtMe-text {
  margin-top: 7%;
  margin-bottom: 6%;
  font-size: calc(9px + 2vmin);
}

.portfolio {
  height: 500px;
  width: 100%;
  background-color: green;
  margin-top: 7%;
  margin-bottom: 15px;
  /* display: flex; */
}

.portfolio-box {
  height: 500px;
  width: 25%;
  position: relative;
}

.imgCaption {
  /* display: flex; */
  background-color: darkgrey;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 99999;
  top: 0;
  left: 0;
}

.desc {
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: calc(12px + 2vmin);
  color: white;
}

.title {
  margin-top: 1%;
  margin-bottom: 0.3%;
  font-size: calc(25px + 2vmin);
  color: white;
}

.contactMe {
  height: 500px;
  width: 100%;
  background-color: green;
  margin-top: 7%;
  margin-bottom: 15px;
}